@import url('https://fonts.googleapis.com/css2?family=Montserrat:300,400,700&display=swap');
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
html{
    font-size: 10px;
    font-family:'Montserrat',sans-serif ;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    text-align: left;
    color:white;
    line-height:1.9rem ;
}
/* Header Section*/
#header{
    position: fixed;
    z-index: 1000;
    left:0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background: rgba(31, 30, 30, 24);
    transition: .3s ease background-color;
}
#header .brand h1{
    color: white;
    padding-left:30px ;
    padding-right: 200px;
    font-size: 2rem;
    font-weight: 500;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30, 24);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5 ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
font-size: 2.5rem;
font-weight: 500;
letter-spacing: .2rem;
text-decoration: none;
color: white;
text-transform: uppercase;
padding: 20px;
display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(240,248,255,0.021);
    font-size: 8rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease etter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform:translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: crimson;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position:absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    background-color: white;
    transition: .3s ease;
    transition-property: top,bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top:0;
}
/* Hero Section*/
#hero {
    background-image: url(./images/servicebkg_02mustard.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .2;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content :flex-start;
}
#hero .hero-img {
    position: absolute;
    top: 10%;
    left: 2rem;
    height: 300px;
    width:150px;
}
#hero h1 {
    top: 65%;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: absolute;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 0 .5s;
    left:40%;
}
#hero h1:nth-child(1){
animation-delay: 1s;
}
#hero h1:nth-child(2){
animation: text_reveal_astro .5s ease forwards;
animation-delay: 2s; 
}
#hero h1 span {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 0;
    background-color:transparent;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span{
    animation: delay 1s; 
}
#hero h1:nth-child(2) span{
    animation: delay 1s; 
}
#hero .hero-button{
    position: absolute;
    top: 80%;
    left: 40%;
    display: inline-block;
    padding: 10px 20px;
    color:beige;
    background-color:transparent;
    border: 2px solid beige;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property:  background-color,color;
    font-weight: 700;
}
#hero .hero-button:hover{
    color: white;
    background-color:  rgb(218, 212, 134);
}

/* End Hero Section*/
/* Service Section*/

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
#services .section-title span{
    color:crimson;
}
#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px ;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: black;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/servicebkg_02mustard.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: .1;
    z-index: -1;
}
#services .service-item .icon{
    height: 250px;
    width:250px;
    margin-bottom: 20px;
    margin-left:20px ;
}
#services .service-item h2{
    font-size: 2rem;
    padding-left: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 1px;
}
#services .service-item p{
    font-size: 1.4rem;
    text-align: left;
    color:white;
    line-height:1.9rem ;
}
/* End of Service Section*/
/*Top Button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#c38d20; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/*End of Top Button*/
/* keyframe*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%; 
    }
}
@keyframes text_reveal{
    100%{
        color: beige ;
    }
}
@keyframes text_reveal_astro{
    100%{
        color:crimson ;
    }
}
@media only screen and (min-width:1200px){
    /*header */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 2rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    /* end header*/
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%; 
    }
    #services .service-item .icon{
        margin-left:10px ;
    }
    #hero .hero-img {
    position: absolute;
    top: 1;
    left: 0;
    height: 600px;
    width:400px;
    }
    
}